<%include header%>
<link rel="stylesheet" type="text/css" href="css/Triangle.css">
<script src="js/Triangle.js"></script>
<div class="container">
			<p id="userhint">Please provide values for the sides of the triangle in the below fields<p>
            Enter Value for Side1 : <input id="side1"><br>
			Enter Value for Side2 : <input id="side2"><br>
			Enter Value for Side3 : <input id="side3"><br>
            <button onclick="showArea()">ComputeArea</button>
			<p>The Area of the Triangle is : <p id="result"></p></p>
    </div>
<%include footer%>
  